# Data files (too large for git)
data/raw/
data/processed/

# Notebook outputs
.ipynb_checkpoints/
*.pyc
__pycache__/

# Outputs
outputs/figures/*.png
outputs/models/*.pkl
outputs/models/*.joblib

# Virtual environment
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Tableau
tableau/*.twbx
tableau/data_exports/*.csv
